<!-- app/views/programs/index.html.erb -->
<h1 class="programsTitle">Programs</h1>
<!-- Programs Section -->
<section class="program-grid">
  <% @programs.each do |program| %>
    
    <article id="<%= program.name.parameterize %>" class="program-card">

      <h3><%= program.name %></h3>
      <p>Age Group: <%= program.age_group %></p>




      <p><%= truncate(program.description, length: 100) %></p>
      <div class="button-container">
        <%= link_to "Learn More", program_path(program), class: "btn btn-primary" %>
        <div
<!-- checks if the user is logged in before the they can register for a program -->   
        <% if user_signed_in? %>
          <%= link_to "Register", enrollments_path(program_id: program.id), class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Register", new_user_session_path, class: "btn btn-primary", data: { turbolinks: false } %>
        <% end %>

        </div>
      </div>
    </article>
  <% end %>
</section>
