<h1 class= "programsTitle">Programs</h1>

<!-- Programs Section -->

<section class="program-grid">
  <% @programs.each do |program| %>
    <article id="<%= program.name.parameterize %>" class="program-card">
      <%= image_tag program_image_path(program), class: "program-image" %>
      <h3><%= program.name %></h3>
      <p>Age Group: <%= program.age_group %></p>
      <p><%= truncate(program.description, length: 100) %></p>
      <div class="button-container">
        <%= link_to "Learn More", program_path(program), class: "btn btn-primary" %>
        <%= link_to "Register Now", products_path, class: "btn btn-success" %>
      </div>
    </article>
  <% end %>
</section>
