
<!-- app/views/programs/index.html.erb -->
<h1 class="programsTitle">Programs</h1>


<!-- Programs Section -->

<section class="program-grid">
  <% @programs.each do |program| %>
    <article id="<%= program.name.parameterize %>" class="program-card">
      <%= image_tag program_image_path(program), class: "program-image" %>
      <h3><%= program.name %></h3>
      <p>Age Group: <%= program.age_group %></p>

      <p><%= program.description %></p>

      <%= link_to "Register", enrollments_path(program_id: program.id), class: "btn btn-primary" %>

      <p><%= truncate(program.description, length: 100) %></p>
      <div class="button-container">
        <%= link_to "Learn More", program_path(program), class: "btn btn-primary" %>
      <div>
      <%= link_to "Buy Me", enrollments_path(program_id: program.id), class: "btn btn-primary buy-program", data: { program_id: program.id } %>
      </div>
       <%= link_to "Add To Cart", enrollments_path(program_id: program.id), class: "btn btn-primary" %>
      </div>

    </article>
  <% end %>
</section>

