
<!-- app/views/programs/index.html.erb -->
<h1 class="programsTitle">Programs</h1>

<!-- Programs Section -->

<section>
  <% @programs.each do |program| %>
    <article id="<%= program.name.parameterize %>" class="program-card">
      <h3><%= program.name %></h3>
      <p>Age Group: <%= program.age_group %></p>
      <p><%= program.description %></p>

      <%= link_to "Register", enrollments_path(program_id: program.id), class: "btn btn-primary" %>
    </article>
  <% end %>
</section>