<div class="mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center">
        <h1 class="title"><%= @program.name %></h1>

        

        <div class="program-details text-left mx-auto d-block" style="max-width: 600px;">
        <%= image_tag program_image_path(@program), class: "program-image img-fluid rounded mb-4 mx-auto d-block" %>
          <div class="program-detail mb-4">
            <p class="lead"><strong>Description:</strong></p>
            <p><%= @program.description %></p>
          </div>

          <div class="program-detail mb-4">
            <p class="lead"><strong>Program Type:</strong></p>
            <p><%= @program.program_type %></p>
          </div>

          <div class="program-detail mb-4">
            <p class="lead"><strong>Age Group:</strong></p>
            <p><%= @program.age_group %></p>
          </div>

          <div class="program-detail mb-4">
            <p class="lead"><strong>Date:</strong></p>
            <p><%= @program.date %></p>
          </div>
        </div>

        <%= form_with(url: carts_add_path) do |f| %>
          <%= f.hidden_field :id, value: @program.product %>
          <%= f.hidden_field :cart_id, value: @cart.id %>
          <%= f.submit "Add to cart", class: "btn btn-primary btn-add-to-cart" %>

        <% end %>

        <div class="mt-4">
          <%= link_to 'Back', programs_path, class: "btn btn-light" %>
          <%= link_to 'Register Today', enrollments_path(program_id: @program.id), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>
