<% if @coursework.program %>
  <h1>Program: <%= @coursework.program.name %></h1>
  <!-- Display other program-related attributes here -->
<% end %>

<div>
<h2><%= @coursework.name %></h2>
<p>Description: <%= @coursework.description %></p>
<p>Content: <%= @coursework.content %></p>
</div>

<% @coursework.attachments.each do |attachment| %>
  <p>Attachment: <%= link_to attachment.filename, rails_blob_path(attachment, disposition: 'attachment') %></p>
<% end %>
