<% if @coursework.program %>
  <h1 id="program-title">Program: <%= @coursework.program.name %></h1>
  <!-- Display other program-related attributes here -->
<% end %>

<div class="coursework-title-description">
<h2 id="coursework-title"><%= @coursework.name %></h2>
<p class="posted-coursework">Posted ○ <%= @coursework.created_at.strftime('%B %d, %Y') %></p>
<p class="posted-coursework">Description: <%= @coursework.description %></p>
</div>

<% @coursework.attachments.each do |attachment| %>
  <p class="posted-coursework">Attachment: <%= link_to attachment.filename, rails_blob_path(attachment, disposition: 'attachment') %></p>
<% end %>

