<h1>Shopping cart</h1>
<% if @cart.present? %>
  <% @cart.cart_items.each do |cart_item| %>
    <%= cart_item.product_name %>
    <%= cart_item.price %>
    <br>
  <% end %>
<% else %>
  <p>Your shopping cart is empty.</p>
<% end %>

<%= form_with  url: :create_checkout_session_ do |f|%>

  <%= f.hidden_field :id, value: program.id%>
  <%= f.submit 'Buy Me', class: 'btn btn-success'%>
<%end%>



