<%# app/views/dashboards/_default_dashboard.html.erb %>
<div class="instructor-dashboard">
  <!-- Sidebar Navigation -->
  <div class="sidebar">
  <div class="welcomeInstructor" >Welcome, <%= user.first_name.capitalize %>!</div>
  <div>
    <%= link_to 'My Students', class: 'sidebar-link' %>
  </div>
  <div>
    <%= link_to 'My Enrollements', class: 'sidebar-link' %>
  </div>
    <%= link_to 'Profile', class: 'sidebar-link' %>
  </div>
  <!-- Main Content -->
  <div class="main-content">
    <h2>Dashboard</h2>
    <div class="programs">
    <h3>My Students</h3>
    <ul>
      <% @students.each do |student| %>
        <li>
        <%= link_to student.full_name, student_path(student) %>

          <%= link_to student.full_name, students_path(student) %>

        </li>
      <% end %>
    </ul>
  </div>
