<%# app/views/dashboards/_instructor_dashboard.html.erb %>
<div class="instructor-dashboard">
  <!-- Sidebar Navigation -->
  <div class="sidebar">

  <div class="welcomeInstructor" >Welcome <%= user.first_name.capitalize %>!</div>

  <div>
    <%= link_to 'Profile', class: 'sidebar-link' %>
  </div>
  <div>
    <%= link_to 'Students', class: 'sidebar-link' %>
  </div>
    <%= link_to 'Programs', class: 'sidebar-link' %>
  </div> 
  <!-- Main Content -->
  <div class="main-content">
    <h2>Instructor's Dashboard</h2>

    <div class="programs">
    <h3>Programs</h3>
    <ul>
      <% programs.each do |program| %>
        <li>
        <%= link_to program.name, program_path(program) %> | <%= program.courseworks.count %>
          <div class ="add-coursework-cont">
          <%= link_to "Add Coursework", new_program_coursework_path(program), class: "add-coursework-button" %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  

  