<div class="banner">
  <img src="assets/climb.jpg" style="width: 100%; height: 400px; object-fit: cover;">
</div>
<br>
<br>

<div class="box" style="display: flex; align-items: center;">
  <div class="text">
    <h3 style="text-align: center;">About Us</h3>
   <p> <%=fetch_text_content_body_by_title("about-us")%> </p>
  </div>
  <div class="image-container">
    <% about_image_one = fetch_image_by_title('about-page-image-one')%>
    <%= image_tag(about_image_one.image_data.url, alt: 'about image one') if about_image_one %>  </div>
</div>

<div class="box" style="display: flex; align-items: center;">
  <div class="image-container2">
    <% about_image_two = fetch_image_by_title('about-page-image-two')%>
    <%= image_tag(about_image_two.image_data.url, alt: 'about image two') if about_image_two %>  </div>
  <div class="text">
    <h3 style="text-align: center;">Our Mission</h3>
   <p> <%=fetch_text_content_body_by_title("our-mission")%> </p>
  </div>
</div>

<br>

<div class="box" style="display: flex; align-items: center;">
  <div class="text">
    <h3 style="text-align: center;">Our Vision</h3>
   <p> <%=fetch_text_content_body_by_title("our-vision")%> </p>
  </div>
  <div class="image-container">
    <% about_image_three = fetch_image_by_title('about-page-image-three')%>
    <%= image_tag(about_image_three.image_data.url, alt: 'about image three') if about_image_three %> 
  </div>
</div>

<br>
<br>

<section id="newsletter-signup">
  <div class="newsletter-box">
    <h2>Sign Up for Our Newsletter</h2>
    <%= form_with(url: '/subscribe', method: 'post') do |f| %>
      <div class="form-group">
        <div class="input-wrapper">
          <input type="text" placeholder="First Name">
          <input type="text" placeholder="Last Name">
          <input type="text" placeholder="Email">
        <%= f.submit 'Sign Up', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</section>