<!-- app/views/layouts/_footer.html.erb -->
<footer class="footer">
    <div>

        <p><a href="https://www.instagram.com/pearlsofhopemn/?hl=en">Instagram</a>
        <a href="https://www.facebook.com/PearlsofHopeMN/">Facebook</a>
        <a href="https://www.youtube.com/@pearlsofhopecenter">Youtube</a></p>
   

    </div>

    <div class="footer-content">
    <h2>Pearls of Hope Community Center</h2>

    <address>
      <%= fetch_text_content_body_by_title("Address").gsub(', ', '<br>').html_safe if fetch_text_content_body_by_title("Address").present? %>
    </address>

    <p>
      Phone:
      <a href="tel:+1<%= fetch_text_content_body_by_title("Phone") %>">
        <%= fetch_text_content_body_by_title("Phone") %>
      </a>
    </p>

    <p>
      Email:
      <a href="mailto:<%= fetch_text_content_body_by_title("Email") %>">
        <%= fetch_text_content_body_by_title("Email") %>
      </a>
    </p>

  </div>
  <p class="copy-right">Copyright &copy; <%= Time.now.year %> Pearls of Hope</p>
  </footer>

