<div>
  <nav>
    <!-- Flex Container for logo and nav-links -->
    <div class="navbar-flex-container">
      <!-- Logo Link -->
      <%= link_to root_path, class: 'logo' do %>
        <% hero_image = fetch_image_by_title('logo') %>
        <%= image_tag(hero_image.image_data.url, alt: 'Logo', class: 'navbar-logo') if hero_image %>
      <% end %>
      <!-- Invisible checkbox used for toggling the menu -->
      <input type="checkbox" id="nav-toggle" class="nav-toggle" style="display: none;">
      <!-- Hamburger Menu Icon (visible on smaller screens) -->
      <label for="nav-toggle" class="hamburger-menu" style="display: block;">
        <div class="hamburger-icon"><i class="fas fa-bars"></i></div>
      </label>
      <!-- Navigation Links -->
      <% if instructor? %>
        <!-- Navigation options for instructors -->
          <ul class="nav-links">
          <li><%= link_to 'Home', root_path, class: 'custom-link' %></li>
          <li><%= link_to 'About', about_index_path, class: 'custom-link' %></li>
          <li class="donate-button">
          <%= link_to "Donate", "https://crm.bloomerang.co/HostedDonation?ApiKey=pub_5a3e2eb6-a0a8-11ec-af60-02eab0531019&WidgetId=16384", target: :blank, id: 'donate-link' %></li>
          </li>
        <li class="profile-dropdown">
    <%= link_to profiles_path, class: 'profileAvatar', style: 'width: 30px; height: 30px; border-radius: 15px;' do %>
      <%= image_tag('profile-user', alt: 'profile') %>
      <div class="dropdown-content" style='display: none;'>
        <%= link_to 'Profile', profiles_path %>
        <%= link_to 'Dashboard', dashboard_path %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'some-css-class' if user_signed_in? %>
      </div>
    <% end %>
  </li>
</ul>
      <% elsif user_signed_in? %>
        <!-- Navigation options for logged-in users with role 'default' -->
        <ul class="nav-links">
          <li><%= link_to 'Home', root_path, class: 'custom-link' %></li>
          <li><%= link_to 'About', about_index_path, class: 'custom-link' %></li>
          <li><%= link_to 'Programs', programs_path, class: 'custom-link' %></li>
          <li><%= link_to 'Volunteer', 'https://forms.gle/ytC8a6rpb8mPiR5bA', target: :blank, class: 'custom-link' %></li>
          <li id="cart">
            <%= link_to cart_path do %>
              <i class="fa-solid fa-cart-shopping icon"></i>
            <% end %>

          </li>
           <li class="profile-dropdown">
        <%= link_to profiles_path, class: 'profileAvatar', style: 'width: 30px; height: 30px; border-radius: 15px;' do %>
          <%= image_tag('profile_avatar', alt: 'profile') %>
          <div class="dropdown-content" style='display: none;'>
            <%= link_to 'Profile', profiles_path %>
            <%= link_to 'Dashboard', dashboard_path %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'some-css-class' if user_signed_in? %>
          </div>
        <% end %>
      </li>
        </ul>
      <% else %>
        <!-- Navigation for users who are not logged in -->
        <ul class="nav-links">
          <li><%= link_to 'Home', root_path, class: 'custom-link' %></li>
          <li><%= link_to 'About', about_index_path, class: 'custom-link' %></li>
          <li><%= link_to 'Programs', programs_path, class: 'custom-link' %></li>
          <li><%= link_to 'Volunteer', 'https://forms.gle/ytC8a6rpb8mPiR5bA', target: :blank, class: 'custom-link' %></li>
          <li id="cart">
            <%= link_to cart_path do %>
              <i class="fa-solid fa-cart-shopping icon"></i>
            <% end %>
          <li class="donate-button">
          <%= link_to "Donate", "https://crm.bloomerang.co/HostedDonation?ApiKey=pub_5a3e2eb6-a0a8-11ec-af60-02eab0531019&WidgetId=16384", target: :blank, id: 'donate-link' %></li>
          </li>

          </li>
          <li class="sign-in">
          <%= user_signed_in? ?
            link_to('Sign Out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'some-css-class') :
            link_to('Sign In', new_user_session_path, class: 'some-css-class') %>
        </li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>












