<!DOCTYPE html>
<html>
  <head>
    <title>PearlsOfHope</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://kit.fontawesome.com/5d37fde041.js" crossorigin="anonymous"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container">
    <%= render "layouts/navbar" %>
    <%= yield %>
  </div>
  </body>
</html>
